body{
    background-color:skyblue;
    color:#fff;
    font-family:Verdana,Geneva,Tahoma,sans-serif;
    margin:0;
    padding:0
}
p{
    color: black;
    font-size: 16px;
}
#lifesCount{
    color: red;
}
.game-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    height:100vh;
    width:100vw;
}
canvas{
    border:2px solid white;
    border-radius:8px;
    background-color:green;
    margin-top: 1px;
}
.btns{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
    width:100%;
}
button{
    color: white;
    background-color:green;
    border-radius:8px;
    border-color:white;
    font-family:inherit;
    margin:0;
    padding:5px 20px;
    width:100px;
}
button:not(:last-child){
    margin-right:10px
}
.messages{
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    width:80%;
    max-width:460px
}
p{
    display:block;
    margin:0;
    width:100%
}
@media(max-width:440px){
    button{
        margin-top:8px;
    }
    #up,#down{
        margin-left:100%;
        margin-right:100%
    }
}